# source
src/

# tests
coverage/

# config files
tsconfig.json
tsconfig.test.json
tsup.config.ts
jest.config.ts

# CI/CD
.github/

# generated docs
docs/

# TypeScript incremental build info
*.tsbuildinfo

# environment variables
.env
.env.*

# macOS
.DS_Store
